db/*
incremental_db/*
output_files/*
simulation/*
.qsys_edit/*
c5_pin_model_dump.txt
modelsim/*
greybox_tmp/*
.idea/*
*.swp
*.tcl
.*bin
*.asm.rpt
*.cdf
*.done
*.eda.rpt
*.fit.rpt
*.fit.smsg
*.fit.summary
*.flow.rpt
*.jdi
*.map.rpt
*.map.smsg
*.map.summary
*.mif_update.rpt
*.pin
*.qpf
*.qsf
*.qsf.orig
*.qws
*.sdc
*.sld
*.sof
*.sta.rpt
*.sta.summary
*.stp
*.rpt
.DS_store