db/*
incremental_db/*
output_files/*
simulation/*
.qsys_edit/*
c5_pin_model_dump.txt
modelsim/*
greybox_tmp/*
*.swp
DE2_115_ControlPanel.sof
RISCV.asm.rpt
RISCV.cdf
RISCV.done
RISCV.fit.rpt
RISCV.fit.smsg
RISCV.fit.summary
RISCV.flow.rpt
RISCV.jdi
RISCV.map.rpt
RISCV.map.smsg
RISCV.map.summary
RISCV.pin
RISCV.qpf
RISCV.qsf.bak
RISCV.sdc
RISCV.sld
RISCV.sof
RISCV.sta.rpt
RISCV.sta.summary
